/.sconsign.dblite

/.vscode
/src/*.obj
/src/*/*.obj
/src/*/*/*.obj
/src/*/*/*/*.obj
/demos/*.obj
/tests/*.obj
/tools/*/*.obj
/tools/*/*/*.obj
/tools/*/*/*/*.obj
/bin/*.ilk
/bin/*.pdb
/bin/*.lib
/bin/*.exp
/format.sh
/scripts/update_res_generate_res_handler.pyc